/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin casanalyticclient {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  .v-verticallayout-login {
  	background-color: white;
  	
  	border-radius: 14px; 
	-moz-border-radius: 14px; 
	-webkit-border-radius: 14px; 
	border: 0px solid #800000;
	
  	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.5);
	box-shadow: 0 3px 10px rgba(0,0,0,.5);
  }
  
  .v-verticallayout-root {
  	background-color: #424242;
  }
  
  .v-button-login {
  	margin-top: 13px;
  }
  
  .v-embedded-login {
  	margin-right: 20px;
  }
  
   .v-verticallayout-mainUI {
  	background-color: white;
  	border-radius: 14px; 
  	
	-moz-border-radius: 14px; 
	-webkit-border-radius: 14px; 
	border: 0px solid #800000;
	
	  	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.5);
	box-shadow: 0 3px 10px rgba(0,0,0,.5);
  }
  
  .v-verticallayout-optionGroup {
  	overflow-y:scroll;
  }
  
  .v-caption-periodOfTime {
  	text-align:right;
  	padding-right: 5px;
  	vertical-align: middle;
  	height: 24px;
  }
  
  .v-verticallayout-loginUserfield {
  	margin-left: 20px;
  }
  
  .v-verticallayout-filter {
  	margin-left: 15px;
  }
  
  .v-label-error {
    margin-left: 18px;
  	color: red;
  }
}
